#menu  ul {
    display: flex;
    justify-content: space-around;
}
#menu ul li a{
    color:#000;
    font-size: 20px;
}
#footer{
    bottom: 0;
    position: absolute;
    width: 100%;    
}
#rodape{
    padding: 20px;
}
#page{
    margin-top:50px
}